.pokemonPage {
  justify-content: flex-start;
}

.dropdownList {
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: 50vh;
  width: 100%;
  overflow-y: auto;
  background-color: #ffffff;
}

.hidden{
  display: none;
}

.pokemonCard {
  height: 70vh;
  width: 30%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

.cardSection {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  display: flex;
  background-color: none;
}

.listItem {
  border-bottom: 1px solid grey;
  cursor: pointer;
}

.listItem:hover {
  background-color: black;
  color: white;
}

.electric {
  background-color: yellow;
}

.water {
  background-color: rgba(53, 53, 255, 0.501);
}

.fire {
  background-color: rgba(250, 118, 74, 0.745);
}

.bug {
  background-color: rgba(0, 128, 0, 0.752);
}

.grass {
  background-color: rgba(120, 190, 120, 0.766);
}

.normal {
  background-color: rgba(75, 18, 18, 0.114);
}

.poison {
  background-color: rgba(200, 29, 200, 0.437);
}

.fairy {
  background-color: rgba(255, 192, 203, 0.631);
}

.ground {
  background-color: rgba(255, 179, 0, 0.517);
}

.ghost {
  background-color: rgba(110, 95, 121, 0.802);
}

.psychic {
  background-color: rgba(128, 128, 128, 0.702);
}

.searchGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 40%;
  margin-top: 15vh;
}

.icon {
  width: min(20vh, 20vw);
  height: auto;
  border: solid black .2em;
  background-color: rgba(240, 248, 255, 0.902);
  box-shadow: inset rgba(0, 0, 0, 0.461) 0 0 2em .5em;
}

.iconSection {
  display: flex;
  justify-content: center;
}

.description {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-size: 0.85rem;
  width: 100%;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.ability {
  font-size: 70%;
  font-family: var(--font-mono);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}


/* Mobile */
@media (max-aspect-ratio: 1/1) {
  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .pokemonCard {
    width: 90%;
    height: 70vh;
  }

  .icon{
    height: 10em;
    width: 10em;
  }

  .cardSection p{
    font-size: 1px;
    padding: 0;
  }

  .header{
    height: 10vh;
  }

  .searchGroup{
    width: 100%;
  }
  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }


  }
